@import "tailwindcss";

@theme{
    --color-primary: #DC111F;
}

.Landing{
    background-image: url("/land10.webp");
    background-size: cover;
}

html{
    font-family:sans-serif;
}

@media screen and (max-width: 640px) {
  .Landing {
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
